<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/estilos.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Lora:ital,wght@1,500&family=Nanum+Gothic&family=Nunito:ital,wght@0,500;1,300;1,500&family=Quicksand&display=swap" rel="stylesheet">  
</head>
<body>
    <Header class="hero">
        <p class="hero__title">AUTOMATON</p>
        <Nav class="hero__nav">
            <form class="form" method="POST" action="/getPalabra">
                <input class="form__input form__ele" placeholder="Enter the word" type="text" name=palabra>
                <button class="form__btn form__ele" type="submit" value="buscar" id="active">search word</button>
            </form>
        </Nav>
        <div class="hero__idioma">            
            <a href="hero__idioma-español bandera"></a>
            <a href="hero__idioma-ingles bandera"></a>        
        </div>
    </Header>
    <h3>{% if estado == 'aceptado'%}accepted{%else%}denied{%endif%}</h3>
    {% if estado == 'aceptado' %}
    <audio src="{{url_for('static',filename='audio/accepted.mp3')}}" autoplay="autoplay"></audio>
    {% else %}
    <audio src="{{url_for('static',filename='audio/denied.mp3')}}" autoplay="autoplay"></audio>
    {% endif %}
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
</body>
</html>